WORKING-DiagnosticPro-Blueprint.json
{
    "name": "DiagnosticPro - PARAMETER FIXED",
    "flow": [
        {
            "id": 2,
            "module": "gateway:CustomWebHook",
            "version": 1,
            "parameters": {
                "hook": 1016936,
                "maxResults": 1
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 150
                },
                "restore": {
                    "parameters": {
                        "hook": {
                            "data": {
                                "editable": "true"
                            },
                            "label": "DiagnosticPro Form"
                        }
                    }
                }
            }
        },
        {
            "id": 13,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 150
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": null,
                            "module": "placeholder:Placeholder",
                            "filter": {
                                "name": "New Form Submission",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{2.paymentStatus}}",
                                            "o": "notexist"
                                        }
                                    ]
                                ]
                            },
                            "metadata": {
                                "designer": {
                                    "x": 600,
                                    "y": 0
                                }
                            }
                        },
                        {
                            "id": 14,
                            "module": "gateway:WebhookRespond",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "body": "{\n  \"success\": true,\n  \"message\": \"Form received. Redirecting to payment...\"\n}",
                                "status": "200",
                                "headers": []
                            },
                            "metadata": {
                                "designer": {
                                    "x": 900,
                                    "y": 0
                                }
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": null,
                            "module": "placeholder:Placeholder",
                            "filter": {
                                "name": "Payment Confirmed",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{2.paymentStatus}}",
                                            "b": "completed",
                                            "o": "text:equal"
                                        }
                                    ]
                                ]
                            },
                            "metadata": {
                                "designer": {
                                    "x": 601,
                                    "y": 280
                                }
                            }
                        },
                        {
                            "id": 4,
                            "module": "openai-gpt-3:CreateCompletion",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 4124165
                            },
                            "filter": {
                                "name": "Paid submission only",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{2.paymentStatus}}",
                                            "b": "completed",
                                            "o": "text:equal"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "model": "gpt-4o-mini",
                                "top_p": 1,
                                "select": "chat",
                                "messages": [
                                    {
                                        "role": "system",
                                        "content": "You are DiagnosticPro, a master-level equipment diagnostic expert. Your role is to prevent customers from unnecessary repairs and expensive misdiagnosis. \n\nALWAYS provide:\n1. Most likely root cause with probability %\n2. Specific tests the shop MUST perform to verify diagnosis\n3. Red flags if shop quote seems unreasonable\n4. Questions customer should ask shop to verify competence\n5. Fair cost estimate range\n\nBe authoritative, systematic, and protective of customer interests. Never accept \"codes always mean replacement\" mentality."
                                    },
                                    {
                                        "role": "user",
                                        "content": "🔧 DIAGNOSTIC ANALYSIS REQUEST\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nEQUIPMENT: {{2.year}} {{2.make}} {{2.model}} ({{2.equipmentType}})\nVIN/SERIAL: {{2.serial}}\nMILEAGE/HOURS: {{2.mileage}}\nERROR CODES: {{2.errorCodes}}\nCUSTOMER: {{2.fullName}} ({{2.email}}, {{2.phone}})\n\n🔧 PROBLEM DESCRIPTION:\n{{2.problemDescription}}\n\n💰 SHOP QUOTE:\n{{2.shopQuote}}\n\n🎯 SERVICE: {{2.serviceType}}\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n\nYou are DiagnosticPro's MASTER TECHNICIAN. Use ALL the data above to provide the most accurate analysis possible. Reference specific error codes, mileage patterns, and equipment type in your diagnosis.\n\n📋 COMPREHENSIVE ANALYSIS (2500 words max):\n\n🎯 1. PRIMARY DIAGNOSIS\n- Root cause (confidence %)\n- Reference specific error codes if provided\n- Component failure analysis\n- Age/mileage considerations\n\n🔍 2. DIFFERENTIAL DIAGNOSIS\n- Alternative causes ranked\n- Why each ruled in/out\n- Equipment-specific patterns\n\n✅ 3. DIAGNOSTIC VERIFICATION\n- Exact tests shop MUST perform\n- Tools needed, expected readings\n- Cost estimates for testing\n\n❓ 4. SHOP INTERROGATION\n- 5 technical questions to expose incompetence\n- Specific data they must show you\n- Red flag responses\n\n💸 5. COST BREAKDOWN\n- Fair parts pricing analysis\n- Labor hour estimates\n- Total price range\n- Overcharge identification\n\n🚩 6. RIPOFF DETECTION\n- Parts cannon indicators\n- Diagnostic shortcuts\n- Price gouging red flags\n\n⚖️ 7. AUTHORIZATION GUIDE\n- Approve immediately\n- Reject outright\n- Get 2nd opinion\n\n🔧 8. TECHNICAL EDUCATION\n- System operation\n- Failure mechanism\n- Prevention tips\n\n📦 9. OEM PARTS STRATEGY\n- Specific part numbers\n- Why OEM critical\n- Pricing sources\n\n💬 10. NEGOTIATION TACTICS\n- Price comparisons\n- Labor justification\n- Warranty demands\n\n🔍 11. QUALITY VERIFICATION\n- Post-repair tests\n- Monitoring schedule\n- Return triggers\n\n🕵️ 12. INSIDER INTELLIGENCE\n- Known issues for this model\n- TSB references\n- Common shortcuts\n\nFor {{2.serviceType}}: Include safety, urgency, temp fixes.\n\nBE RUTHLESSLY SPECIFIC. PROTECT THE CUSTOMER'S WALLET. DEMAND TECHNICAL PROOF.",
                                        "imageDetail": "auto"
                                    }
                                ],
                                "max_tokens": 4000,
                                "temperature": 0.1,
                                "n_completions": 1,
                                "response_format": "text"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 900,
                                    "y": 300
                                }
                            }
                        },
                        {
                            "id": 7,
                            "module": "util:SetVariable2",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "name": "aiAnalysis",
                                "scope": "roundtrip",
                                "value": "{{4.choices[].message.content}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1200,
                                    "y": 300
                                }
                            }
                        },
                        {
                            "id": 5,
                            "module": "google-email:sendAnEmail",
                            "version": 4,
                            "parameters": {
                                "__IMTCONN__": 4179826
                            },
                            "mapper": {
                                "to": [
                                    {
                                        "name": "{{2.fullName}}",
                                        "email": "{{2.email}}"
                                    }
                                ],
                                "subject": "Your DiagnosticPro Analysis - Equipment Diagnostic Report",
                                "bodyType": "collection",
                                "contents": [
                                    {
                                        "text": "Dear {{2.fullName}},\n\nThank you for choosing DiagnosticPro for your equipment diagnostic analysis.\n\n<b>Your Comprehensive Diagnostic Report:</b>\n\n<div style=\"background-color: #f5f5f5; padding: 20px; border: 2px solid #4facfe; margin: 20px 0;\">\n{{7.aiAnalysis}}\n</div>\n\n<hr>\n\n<b>IMPORTANT DISCLAIMERS:</b>\n• This analysis recommends OEM parts only\n• Customer assumes all risk if non-OEM parts are used\n• Seek multiple opinions for major repairs\n• This is diagnostic guidance, not a guarantee\n\n<b>SERVICE TERMS:</b>\nThis fee covers our professional diagnostic analysis service only. You are paying for our expert assessment and recommendations, not for any specific repair outcome. How you use this information is entirely your decision and responsibility. We are not liable for repair results, shop work quality, or equipment performance after repairs.\n\nQuestions? Reply to this email or contact support.\n\nBest regards,\nDiagnosticPro Team\ndiagnosticpro.reports@gmail.com",
                                        "image": {}
                                    }
                                ]
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1500,
                                    "y": 300
                                }
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us2.make.com",
        "notes": []
    }
}